
/* hide tab content */
[data-tab-content] {
    display: none;
}

/* only show active */
.active[data-tab-content] {
    display: block;
  }

.tabs {
    display: flex;
    justify-content: space-around;
    border-collapse: separate;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black; 
    width: 90%; 
     
}

.tab {
    cursor: pointer;
    padding: 10px;
    
}

/* highlight color for current tab */
.tab.active {

    background-color: #CCC;
}

/* spacing for current tab */
.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

/* font size of tab title */
ul li{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
   }


/* logo in top right  */ 
.logo img {
    position:fixed; 
    top: 5px;
    right: 5px;
    width:124px;
    height:125px;
    /* background-color: #ffffff;  */
  } 

/* both forms */ 
.all_forms{
    width: 1000px;
}
 
/* student form */
.student_form{
    float: left;
    width: 450px;
}

/* client form */
.client_form{
    float: right;
    width: 300px;
}

/*
.social a{
    color: black;
    text-decoration: none;
}
*/ 


@media only screen and (max-width: 1250px) {
    .logo img {
        position:relative; 
        top:-10px;
        right: 5px;
        width:124px;
        height:125px;
        /* background-color: #ffffff; */ 
      }

      .tabs {
        display: flex;
        justify-content: space-around;
        border-collapse: separate;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: 1px solid black; 
        width: 98%;
    }
} 


@media only screen and (max-width: 1030px) {

    .client_form{
        float: left;
        bottom: 0px;
    }

} 

@media only screen and (max-width: 900px) {

.student_form{
    width: 300px;
    position: absolute; 

}
.client_form{
    position: relative;
    bottom: -270px;
}


.social{
    margin-top: 320px;
}


} 



/*
body {
    font-family: Helvetica;
    background-color: #053212;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
} 

ul li{
    color: #ffffff;
}
*/ 