
/* hide tab content */
[data-tab-content] {
    display: none;
}

/* only show active */
.active[data-tab-content] {
    display: block;
  }

.header h1 {
    margin-bottom: -18px;
}

.header h4 {
    font-size: smaller;
}
  
.tabs {
    display: flex;
    justify-content: space-around;
    border-collapse: separate;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black; 
    width: 90%; 
     
}

.tab {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
}

/* highlight color for current tab */
.tab.active {

    background-color: rgb(255, 255, 255);
}

/* spacing for current tab */
.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

/* font size of tab title */
ul li{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
   }


/* logo in top right  */ 
.logo img {
    position:fixed; 
    top: 5px;
    right: 5px;
    width:124px;
    height:125px;
    /* background-color: #ffffff;  */
  } 

/* both forms */ 
.all_forms{
    width: 1000px;
}
 
/* student form */
.student_form{
    float: left;
    width: 450px;
}

/* client form */
.client_form{
    float: left;
    width: 450px;
}

/* dropdown item position */ 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
    cursor: pointer;
}

/* dropdown item color and padding */ 
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.just_home:hover .only_home {background-color: grey;}
.only_home {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.only_home{
    font-size: 22px;
    margin: 0px;
    cursor: pointer;
    padding: 10px;
    font-family: "Times New Roman";
   }

/* dropdown hover */ 
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

/* dropdown color and cursor */ 
.dropbtn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

/* dropdown tabs font size of tab title */
.dropbtn{
    font-size: 22px;
    margin: 0px;
    cursor: pointer;
    padding: 10px;
    font-family: "Times New Roman";
    color: inherit;
   }

/* social media icon for soical tab */
.fa {
    padding: 90px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px; 
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size: 50px !important;
}
.fa-instagram {
    background: #125688;
    color: white;
    font-size: 50px !important;
}
.fa-github {
    color:black;  
    font-size: 100px !important;
}

/*
.social a{
    color: black;
    text-decoration: none;
}
*/ 

/* media for screen */ 
@media only screen and (max-width: 1250px) {
    .logo img {
        position:relative; 
        top:-10px;
        right: 5px;
        width:124px;
        height:125px;
        /* background-color: #ffffff; */ 
      }

      .tabs {
        display: flex;
        justify-content: space-around;
        border-collapse: separate;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: 1px solid black; 
        width: 98%;
    }
} 

    

/* media for screen */ 
@media only screen and (max-width: 900px) {

.student_form{
    width: 300px;
    position: absolute; 

}
.client_form{
    width: 300px;
    position: absolute; 
}


.social{
    margin-top: 320px;
}


} 



/*
body {
    font-family: Helvetica;
    background-color: #053212;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
} 

ul li{
    color: #ffffff;
}
*/ 
